apiVersion: apps/v1
kind: Deployment

metadata:
  name: {{PROJECT_NAME}}

spec:
  replicas: {{REPLICAS}}

  selector:
    matchLabels:
      app: {{PROJECT_NAME}}

  template:
    metadata:
      labels:
        app: {{PROJECT_NAME}}

    spec:
      containers:
        - name: app
          image: {{DOCKER_IMAGE}}

          ports:
            - containerPort: {{CONTAINER_PORT}}
